
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  main {
    display: block;
  }
  
  img {
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
  }

  button, input, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button {
    overflow: visible;
    text-transform: none;
  }